# start with the global settings which will
# apply to all sections in the configuration.
global
  # specify the maximum connections across the board
  maxconn 2048
  # enable debug output
  debug

# now set the default settings for each sub-section
defaults
  # stick with http traffic
  mode http
  # set the number of times HAProxy should attempt to
  # connect to the target
  retries 3
  # specify the number of connections per front and
  # back end
  maxconn 1024
  # specify some timeouts (all in milliseconds)
  timeout connect 5000

########### Riak Configuration ###################

frontend diaserver
  mode tcp
  
  # bind to default DIAMETER port 3868
  bind 127.0.0.1:3868

  # Default to the riak cluster configuration
  default_backend riak_cluster

  # timeouts
  timeout client 1200000

# Here is the magic bit which load balances across
# our instances of riak_core which are clustered
# together
backend riak_cluster
  mode tcp
  balance roundrobin
  # timeouts
  timeout server 1200000
  timeout connect 3000

  server rts1 127.0.0.1:7071 check
  server rts2 127.0.0.1:7072 check
  server rts3 127.0.0.1:7073 check
