%% -*- erlang -*-
{sub_dirs, ["rel/diaserver", "rel/aggregation", "apps/rts_pb", "apps/diaserver","apps/aggregation"]}.
{cover_enabled, true}.
{erl_opts, [debug_info, warnings_as_errors, {i,"include"},{i, "/usr/local/lib/erlang/lib/diameter-0.10/include"}, {src_dirs, ["src"]}]}.
{deps_dir, ["deps"]}.
{deps, [ 
         {riak_core, ".*", {git, "git://github.com/basho/riak_core", "master"}},
	 {riak_api, ".*", {git, "git://github.com/basho/riak_api.git", "master"}}
       ]}.
{lib_dirs, ["apps", "deps"]}.

